@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

.overflow {
  overflow: hidden;
}

.menu-button {
  display: none;
}

.header {
  background-color: #635854;
  border-bottom: 4px solid #3596f5;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 64px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link.active {
  background-color: #3596f5;
}

.navbar-link:hover {
  background-color: #3596f5;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 12px 20px;
  transition: 0.4s;
}

.navbar-contacts {
  text-align: right;
}

.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.main {
  padding-top: 100px;
  flex: 1 1 auto;
  padding-bottom: 50px;
}

.main-row {
  display: flex;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}

.main-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
  margin: 0;
}

.counter {
  font-family: "Bebas Neue", sans-serif;
  color: #635854;
  font-size: 124px;
  margin-top: 10px;
}

.button-primary {
  background-color: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
}

.popup.active {
  visibility: visible;
  opacity: 1;
}

.popup-block {
  display: flex;
  margin: 4rem auto;
  width: 1003px;
  background-color: #fff;
  position: relative;
}

.popup-block-left {
  width: 60%;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-block-left-title {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.room-image {
  width: 100%;
  height: 100%;
}

.popup-block-left-image path {
  opacity: 0;
  cursor: pointer;
}

.popup-block-left-image path.active {
  opacity: 1;
}

.close {
  position: absolute;
  right: 25px;
  top: 15px;
}

.popup-block-right {
  padding: 60px 45px;
}

.popup-block-right-title {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: normal;
  margin-bottom: 50px;
}

.room-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
}

.room-link.active {
  color: #3596f5;
  text-decoration: underline;
}

.popup-block-right-text {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  font-style: italic;
  margin-top: 56px;
}

.footer {
  background-color: #d7d7d7;
  border-top: 4px solid #3596f5;
}

.footer-content {
  height: 171px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  min-height: 171px;
  align-items: center;
}

.footer-logo {
  margin: 0 37px 0 0;
}

.footer-contact-text {
  display: block;
  color: #635854;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 4px 0;
}

.footer-contact-phone {
  font-size: 17px;
  line-height: 20px;
  color: #635854;
  font-weight: 700;
  white-space: nowrap;
}

.social {
  display: flex;
  margin-top: 5px;
  margin: 0 20px;
}

.social-link {
  color: #635854;
  font-size: 20px;
  padding: 0 16px 0 0;
}

.footer-menu {
  display: flex;
}

.footer-menu-link {
  color: #635854;
  padding: 0 20px 0 0;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  white-space: nowrap;
}

@media (max-width: 1300px) {
  .container {
    max-width: 1130px;
  }
}

@media (max-width: 1150px) {
  .container {
    max-width: 1000px;
  }

  .navbar-item {
    margin: 0 5px;
  }

  .main-info {
    margin-left: 20px;
  }

  .main-title {
    font-size: 27px;
  }

  .button-primary {
    padding: 16px 12px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 870px;
  }

  .main-row {
    flex-direction: column;
  }

  .home-image {
    width: 100%;
  }

  .main-info {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .footer-menu {
    display: block;
  }

  .footer-menu-item {
    margin-bottom: 20px;
  }

  .counter-group {
    margin: 20px 0;
  }

  .popup-block {
    width: 795px;
  }
}

@media (max-width: 980px) {
  .navbar {
    position: relative;
    height: 64px;
  }

  .navbar-menu {
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 64px;
    background-color: #635854;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translate(-55%, -100%);
    transition: 0.5s;
  }

  .menu-button {
    display: block;
  }

  .navbar-menu.active {
    visibility: visible;
    opacity: 1;
    transform: translate(-55%, 0%);
  }  
}

@media (max-width: 900px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 830px) {
  .container {
    max-width: 745px;
  }

  .popup-block {
    width: 690px;
  }
}

@media (max-width: 830px) {
  

  .popup-block {
    flex-direction: column;
    height: auto;
  }

  .popup-block-left {
    width: 100%;
    padding-top: 20px;
  }

  .popup-block-right {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
  }

  .room-list {
    display: flex;
    flex-wrap: wrap;
  }

  .room-link {
    margin-right: 10px;
  }

  .popup-block-right-title {
    margin-bottom: 20px;
  }

  .popup-block-right-text {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 690px;
  }

  .home-image {
    height: 100%;
  }

  .footer-content {
    height: auto;
    display: block;
  }

  .left-content {
    justify-content: space-between;
  }
}

@media (max-width: 474px) {
  .left-content {
    flex-wrap: wrap;
  }
}

@media (max-width: 660px) {
  .popup-block {
    width: 100%;
  }
}

@media (max-width: 474px) {
  .left-content {
    flex-wrap: wrap;
  }
}

@media (max-width: 410px) {
  .popup-block-right {
    padding: 20px;
  }
}

@media (max-width: 320px) {
  .navbar-text {
    font-size: 12px;
  }

  .navbar-phone {
    font-size: 12px;
  }
}
